@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&family=Source+Sans+3:wght@300;400&family=Ubuntu:wght@300;400&display=swap');

body {
  margin: 0;
  font-family: 'Source Sans 3', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

